{% extends "mainapp/layout.html" %}
{% load static %}

{% block title %}
Cart
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/Cart.css' %}">
{% endblock head %}
{% block main %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="contact" placeholder="Contact no..">
                    </div>

                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for book in books %}

            <div class="cart-row">
                <div style="flex:2"><img class="checkout-image" src="{{book.image_url}}">
                </div>
                <div style="flex:2">
                    {{book.original_title}}
                </div>
                <div style="flex:1">
                    Rs. {{book.book_price}}
                </div>
                <!-- <div style="flex:1">
                    <p>x2</p>
                </div> -->
            </div>
            {% endfor %}

            <h5>Items: {{count}}</h5>
            <h5>Total: Rs.{{total}}</h5>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">
    var total = '{{total}}'


    var form = document.getElementById('form')
    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-button').classList.add("hidden");
        submitFormData()
    })

    /*
    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })
    */

    function submitFormData() {
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'contact': null,
        }


        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.contact = form.contact.value



        userFormData.name = form.name.value
        userFormData.email = form.email.value


        console.log('Shipping Info:', shippingInfo)
        console.log('User Info:', userFormData)

    }
</script>
{% endblock script %}